:root{
  --color-white:#fff;
  --text-color-grey:#FEFCF7;
  --color-blue-btn:#0E8784;
  --color-bg-features:#2C343E;
  --text-color-type-blue:#333D4B;
  --color-pink:#FDD6BA;
  --font-Fraunces:'Fraunces';
  --color-grey-text: #83888F;
  --main-font:'Barlow',"Arial",sans-serif;
}

@font-face {
  font-family: 'Fraunces';
  src: url('../fonts/Fraunces-9ptBlack.woff2') format('woff2'),
  url('../fonts/Fraunces-9ptBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Black.woff2') format('woff2'),
  url('../fonts/Barlow-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
  url('../fonts/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
  url('../fonts/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Barlow',"Arial",sans-serif;
  background-color: var(--text-color-grey);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 15px;
  line-height: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  max-width: 1320px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Site Header */
.site-header{
  padding-top: 32px;
  padding-bottom: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.site-header__toggle{
  background-image: url(../img/burger.svg);
  width: 16px;
  height: 15px;
  border:none;
  background-repeat: no-repeat;
}

.sitenav{
  position: absolute;
  top: 100%;
  right: -20px;
  left: -20px;
  height: calc(100vh - 90px);
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.sitenav__list{
  padding: 0;
  margin: 0;
  text-align: center;
}

.site-header__item{
  display: block;
  text-align: center;
}

.sitenav__item:not(:last-child){
  margin-bottom: 32px;
}

.site-header__sitenav{
  display: none;
}

.site-header--active .site-header__sitenav{
  display: block;
}

.site-header--active .site-header__toggle{
  background-image: url(../img/close-button.svg);
}

.sitenav__link{
  font-family: var(--font-Fraunces);
  display: inline-block;
  text-decoration: none;
  color:var(--text-color-type-blue);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px
}


/* Hero Section */
.site-hero{
  padding-bottom: 120px;
}

.site-hero__wrapper{
  background-image: url(../img/hero-bg.png);
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 24px 99px 24px;
}

.hero-inner{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-inner__title{
  font-family: var(--font-Fraunces);
  margin: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-white);
  margin-bottom: 24px;
}

.hero-inner__desc{
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color-grey);
  margin-bottom: 39px;
  opacity: 0.8;
}

.btn{
  background-color: var(--color-blue-btn);
  padding: 15px 31px 16px 31px;
  color: var(--color-white);
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--font-Fraunces);
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  white-space: nowrap;
}

.hero-inner__btn{
  width: 217px;
  margin-left: auto;
  margin-right: auto;
}


/* COLLECTION SECTION */
.collection{
  padding-bottom: 120px;
}

.inner-box{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.collection__title{
  margin: 0;
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  margin-bottom: 13px;
  font-family: var(--font-Fraunces);
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  background-color: var(--color-grey-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.inner-box__list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: -48px;
  list-style: none;
}

.inner-box__item{
  width:282px;
  margin-left: auto;
  margin-right: auto;
}

.inner-box__item~.inner-box__item{
  margin-top: 48px;
}

.inner-box__header{
  font-family: var(--font-Fraunces)   ;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: var(--text-color-type-blue);
}

.inner-box__desc{
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color-type-blue);
}

.inner-box__item::before{
  content: "";
  display: block;
  z-index: 1;
  width: 200px;
  height: 151px;
  margin-left: 40px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
}

.inner-box__item:nth-child(1)::before{
  background-image: url(../img/expresso.png);
}

.inner-box__item:nth-child(2)::before{
  background-image: url(../img/planalto.png);
}

.inner-box__item:nth-child(3)::before{
  background-image: url(../img/piccollo.png);
}

.inner-box__item:nth-child(4)::before{
  background-image: url(../img/danche.png);
}


/* FEATURES SECTION */

.features{
  padding-bottom: 120px;  
}

.features__top{
  background-color: var(--text-color-type-blue);
  padding: 64px 24px 28px 24px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 1;
}

.features__top::after{
  content: "";
  height: 479px;
  width: 327px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-bg-features);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
}

.features__title{
  margin: 0;
  color: var(--color-white);
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 24px;
  font-family: var(--font-Fraunces);
}

.features__desc{
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color-grey);
  opacity: 0.8;
}

.features__list{
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  top: 24px;
  text-align: center;
}

.features__item{
  width: 279px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-blue-btn);
  border-radius: 8px;
  padding: 72px 33.5px 50px 33.5px;
}

.features__item::before{
  content:"";
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  display: block;
  margin-left: 65px;
  background-position: center center;
}

.features__item~.features__item{
  margin-top: 24px;
}

.features__item:nth-child(1)::before{
  background-image: url(../img/quality.svg);
}

.features__item:nth-child(2)::before{
  background-image: url(../img/benefit.svg);
}

.features__item:nth-child(3)::before{
  background-image: url(../img/shipping.svg);
}

.features__header{
  margin: 0;
  font-family: var(--font-Fraunces);
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-white);
  margin-top: 56px;
}

.features__info{
  margin: 0;
  color: var(--color-white);
  opacity: 0.8;
}


/* ABOUT US PAGE */

.about-hero{
  padding-bottom: 48px;
}

.about-hero__top{
  background-image:url(../img/about-us-top.png);
  background-repeat: no-repeat;
  padding:111px 24px 87px;
  text-align: center;
  margin-bottom: 120px;
  background-size: cover;
}

.about-hero__title{
  font-family: var(--font-Fraunces);
  margin: 0;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;  
  color: var(--color-white);
  margin-bottom: 24px;
}

.about-hero__desc{
  margin: 0;
  color: var(--text-color-grey);
  opacity: 0.8;
}


/* COMMITMENT SECTION */
.commitment{
  padding-bottom: 198px;
}

.commitment__content{
  text-align: center;
}

.about-hero__picture{
  margin-bottom: 48px;
}

.commitment__header{
  margin: 0;
  color: var(--text-color-type-blue);
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  font-family: var(--font-Fraunces);
  margin-bottom: 30px;
}

.commitment__desc{
  margin: 0;
  color: var(--text-color-type-blue);
  opacity: 0.8;
}


/*ABOUT FEATURES */
.about-features{
  padding-bottom: 120px;
}

.about-features__content::before{
  content: "";
  position: absolute;
  background-image: url(../img/aboout-features-mobile.jpg);
  width: 279px;
  height: 156px;
  background-repeat: no-repeat;
  border-radius: 10px;
  top: -15%;
  left: 25px;
  background-size: contain;
}

.about-features__content{
  background-color: var(--color-bg-features);
  padding:142px 24px 61px 24px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.about-features__title{
  margin: 0;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  color: var(--color-white);
  margin-bottom: 24px;
  font-family: var(--font-Fraunces);
}

.about-features__desc{
  margin: 0;
  opacity: 0.8;
  color: var(--text-color-grey);
}


/*  Headquarts Section  */
.headquarts{
  padding-bottom: 120px;
}

.headquarts__title{
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 72px;
  color: var(--color-grey-text);
  font-family: var(--font-Fraunces);
  text-align: center;
}

.headquarts-content{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  display: flex;
  list-style-type: none;
}

.headquarts-content__item{
  text-align: center;
}

.headquarts-content__item::before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  background-repeat: no-repeat;
}

.headquarts-content__item:nth-child(1)::before{
  background-image: url(/img/ukingdom-mobile.svg);
}

.headquarts-content__item:nth-child(2)::before{
  background-image: url(/img/canada-mobile.svg);
}

.headquarts-content__item:nth-child(3)::before{
  background-image: url(/img/australia-mobile.svg);
}

.headquarts-content__item~.headquarts-content__item{
  margin-top: 80px;
}

.headquarts-content__header{
  margin: 0;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  font-family: var(--font-Fraunces);
  color: var(--text-color-type-blue);
  margin-bottom: 22px;
}

.headquarts-content__address{
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  color: var(--text-color-type-blue);
}

.headquarts-content__tell{
  text-decoration: none;
  color: var(--text-color-type-blue);   
}


/* SITE FOOTER */
.site-footer{
  padding-bottom: 72px;
}

.site-footer__inner{
  background-color: var(--color-bg-features);
  padding: 50px 54px 54px;
  text-align: center;
}

.site-footer__logo{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.site-header__icon{
  width: 217.85px;
  height: 24px;
  margin-bottom: 50px;
}

.site-footer__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 51px;
}

.site-footer__item~.site-footer__item{
  margin-top: 24px;
}

.site-footer__link{
  letter-spacing: 0.923077px;
  color: var(--color-grey-text);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.socials__links{
  text-decoration: none;
}

.socials__links~.socials__links{
  margin-left: 24px;
}

.socials__icons{
  color: var(--color-white);
}

.socials__icons:hover{
  color: var(--color-pink);
}

.socials__icons:active{
  opacity: 0.5;
}


@media only screen and (min-width:768px){
  
  .container{
    padding-left: 39px;
    padding-right: 39px;
  }
  
  .site-header{
    padding-top: 40px;
  }
  
  .site-header__logo{
    width: 236px;
    height: 26px;
  }
  
  .site-header__toggle{
    display: none;
  }
  
  
  .site-header{
    position: static;
    display: flex;
  }
  
  .sitenav{
    position: static;
    display: block;
    height: auto;
  }
  
  .sitenav__list{
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    display: flex;
  }
  
  .site-header__item{
    display: block;
    text-align: center;
  }
  
  .sitenav__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 32px;
  }
  
  .sitenav__link{
    font-family: var(--main-font);
    display: inline-block;
    text-decoration: none;
    color:var(--color-grey-text);
    font-size: 12px;
    line-height: 15px;  
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* HERO SECTION */
  
  .site-hero{
    padding-bottom: 144px;
  }
  
  .site-hero__wrapper{
    background-image: url(../img/hero-bg_tablet.png);
    border-radius: 10px;
    background-size: cover;
    
    background-repeat: no-repeat;
    padding: 104px 233px 104px 58px;
  }
  
  .hero-inner{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .hero-inner__title{
    font-family: var(--font-Fraunces);
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: var(--color-white);
    margin-bottom: 24px;
  }
  
  .hero-inner__desc{
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color-grey);
    margin-bottom: 40px;
    opacity: 0.8;
  }
  
  .btn{
    background-color: var(--color-blue-btn);
    padding: 15px 31px 16px 31px;
    color: var(--color-white);
    text-align: left;
    border-radius: 6px;
    text-decoration: none;
    font-family: var(--font-Fraunces);
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    white-space: nowrap;
  }
  
  .hero-inner__btn{
    width: 217px;
    margin-right: 0;
    margin-left: 0;
  }
  
  /* COLLECTION SECTION */
  .collection{
    padding-bottom: 120px;
  }
  
  .inner-box{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .collection__title{
    margin: 0;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    font-family: var(--font-Fraunces);
    font-weight: 900;
    font-size: 96px;
    line-height: 72px;
    background-color: var(--color-grey-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .inner-box__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -48px;
    list-style: none;
    margin-left: 40px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .inner-box__item{
    width: 573px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }
  
  .inner-box__item~.inner-box__item{
    margin-top: 48px;
  }
  
  .inner-box__content{
    text-align: left;
    width: 282px;
    margin-top: 30px;
    margin-left: 35px;
  }
  
  .inner-box__header{
    font-family: var(--font-Fraunces)   ;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    color: var(--text-color-type-blue);
  }
  
  .inner-box__desc{
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-color-type-blue);
  }
  
  .inner-box__item::before{
    content: "";
    display: block;
    z-index: 1;
    width: 255px;
    height: 193px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
  }
  
  .inner-box__item:nth-child(1)::before{
    background-image: url(../img/planalto-tab.png);
  }
  
  .inner-box__item:nth-child(2)::before{
    background-image: url(../img/planalto-tab.png);
  }
  
  .inner-box__item:nth-child(3)::before{
    background-image: url(../img/piccollo-tab.png);
    margin-left: 20px;
  }
  
  .inner-box__item:nth-child(4)::before{
    background-image: url(../img/danche-tab.png);
    margin-left: 20px;
  }
  
  
  /* ABOUT US PAGE */
  
  .about-hero{
    padding-bottom: 144px;
  }
  
  .about-hero__top{
    background-image:url(../img/about-hero-tablet.jpg);
    background-repeat: no-repeat;
    padding:119px 233px 118px 58px;
    text-align: left;
    margin-bottom: 0;
    background-size: cover;
    border-radius: 10px;
  }
  
  .about-hero__title{
    font-family: var(--font-Fraunces);
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px; 
    color: var(--color-white);
    margin-bottom: 24px;
  }
  
  .about-hero__desc{
    margin: 0;
    color: var(--text-color-grey);
    opacity: 0.8;
  }
  
  
  /* COMMITMENT SECTION */
  .commitment{
    padding-bottom: 360px;
  }
  
  .commitment__content{
    display: flex;
  }
  
  .commitment__info{
    width: 339px;
    margin-left: 69px;
    text-align: left;
  }
  
  .about-hero__picture{
    margin-bottom: 0;
  }
  
  .commitment__header{
    margin: 0;
    color: var(--text-color-type-blue);
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    font-family: var(--font-Fraunces);
    margin-bottom: 30px;
  }
  
  .commitment__desc{
    margin: 0;
    color: var(--text-color-type-blue);
    opacity: 0.8;
  }
  
  
  /*ABOUT FEATURES */
  .about-features{
    padding-bottom: 144px;
  }
  
  .about-features__content::before{
    content: "";
    position: absolute;
    background-image: url(../img/aboiut-features-tablet.jpg);
    width: 592px;
    height: 887px;
    background-repeat: no-repeat;
    border-radius: 10px;
    top: -45%;
    left: 50px;
    background-size: contain;
  }
  
  .about-features__content{
    background-color: var(--color-bg-features);
    padding:224px 74px 67px 74px;
    text-align: center;
    border-radius: 10px;
    position: relative;
  }
  
  .about-features__title{
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    color: var(--color-white);
    margin-bottom: 24px;
    font-family: var(--font-Fraunces);
  }
  
  .about-features__desc{
    margin: 0;
    opacity: 0.8;
    color: var(--text-color-grey);
  }
  
  
  /*  Headquarts Section  */
  .headquarts{
    padding-bottom: 144px;
  }
  
  .headquarts__title{
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 72px;
    color: var(--color-grey-text);
    font-family: var(--font-Fraunces);
    text-align:left;
  }
  
  .headquarts-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  .headquarts-content__item{
    text-align: left;
    width: 222px;
  }
  
  .headquarts-content__item::before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 48px;
    background-repeat: no-repeat;
  }
  
  .headquarts-content__item:nth-child(1)::before{
    background-image: url(/img/ukingdom-mobile.svg);
  }
  
  .headquarts-content__item:nth-child(2)::before{
    background-image: url(/img/canada-mobile.svg);
  }
  
  .headquarts-content__item:nth-child(3)::before{
    background-image: url(/img/australia-mobile.svg);
  }
  
  .headquarts-content__item~.headquarts-content__item{
    margin-top: 0px;
  }
  
  .headquarts-content__header{
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    font-family: var(--font-Fraunces);
    color: var(--text-color-type-blue);
    margin-bottom: 22px;
  }
  
  .headquarts-content__address{
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    color: var(--text-color-type-blue);
  }
  
  .headquarts-content__tell{
    text-decoration: none;
    color: var(--text-color-type-blue);   
  }
  
  
  /* SITE FOOTER */
  .site-footer{
    padding-bottom: 72px;
  }
  
  .site-footer__inner{
    background-color: var(--color-bg-features);
    padding: 54px 190px 54px 215px;
    text-align: center;
  }
  
  .site-footer__logo{
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  .site-header__icon{
    width: 217.85px;
    height: 24px;
    margin-bottom: 33px;
  }
  
  .site-footer__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 65px;
    display: flex;
  }
  
  .site-footer__item{
    white-space: nowrap;
  }
  
  .site-footer__item~.site-footer__item{
    margin-top: 0px;
    margin-left: 33px;
  }
  
  .site-footer__link{
    letter-spacing: 0.923077px;
    color: var(--color-grey-text);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .socials__links{
    text-decoration: none;
  }
  
  .socials__links~.socials__links{
    margin-left: 24px;
  }
  
  .socials__icons{
    color: var(--color-white);
  }
  
  .socials__icons:hover{
    color: var(--color-pink);
  }
  
  .socials__icons:active{
    opacity: 0.5;
  }
}  
@media only screen and (min-width: 1150px){
  .container{
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .site-header{
    padding-top: 44px;
  }
  
  .site-header__logo{
    width: 236px;
    height: 26px;
    transition: 0.3s ease;
  }
  
  .site-header__logo:hover{
    opacity: 0.8;
  }
  
  .site-header__logo:active{
    opacity: 0.4;
  }
  
  .site-header__toggle{
    display: none;
  }
  
  
  .site-header{
    position: static;
    display: flex;
  }
  
  .sitenav{
    position: static;
    display: block;
    height: auto;
  }
  
  .sitenav__list{
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    display: flex;
  }
  
  .site-header__item{
    display: block;
    text-align: center;
  }
  
  .sitenav__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 33px;
  }
  
  .sitenav__link{
    font-family: var(--main-font);
    display: inline-block;
    text-decoration: none;
    color:var(--color-grey-text);
    font-size: 12px;
    line-height: 15px;  
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s ease;
  }
  
  .sitenav__link:hover{
    color: var(--text-color-type-blue);
  }
  
  .sitenav__link:active{
    opacity: 0.4;
  }
  
  /* HERO SECTION */
  
  .site-hero{
    padding-bottom: 136px;
  }
  
  .site-hero__wrapper{
    background-image: url(../img/hero-bg-desktop.png);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 116px;
    padding-top: 117px;
    padding-left: 85px;
  }
  
  .hero-inner{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 493px;
  }
  
  .hero-inner__title{
    font-family: var(--font-Fraunces);
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: var(--color-white);
    margin-bottom: 32px;
  }
  
  .hero-inner__desc{
    margin: 0;
    margin-right: 66px;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color-grey);
    margin-bottom: 56px;
    opacity: 0.8;
  }
  
  .btn{
    background-color: var(--color-blue-btn);
    padding: 15px 31px 16px 31px;
    color: var(--color-white);
    text-align: left;
    border-radius: 6px;
    text-decoration: none;  
    font-family: var(--font-Fraunces);
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    white-space: nowrap;
    transition: 0.3s ease;
  }
  
  .btn:hover{
    background: #66D2CF;
    cursor: pointer;
  }
  
  .btn:active{
    background: #00fff7;
    cursor: pointer;
  }
  
  .hero-inner__btn{
    width: 217px;
    margin-right: 0;
    margin-left: 0;
  }
  
  /* COLLECTION SECTION */
  .collection{
    padding-bottom: 120px;
  }
  
  .inner-box{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .collection__title{
    margin: 0;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    font-family: var(--font-Fraunces);
    font-weight: 900;
    font-size: 130px;
    line-height: 72px;
    background-color: var(--color-grey-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    white-space: nowrap;
    padding-top: 16px;
  }
  
  .inner-box__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: -48px;
    list-style: none;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .inner-box__item{
    width: 255px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    
  }
  
  .inner-box__item~.inner-box__item{
    margin-top: 0;
    margin-right: 30px;
  }
  
  .inner-box__content{
    text-align: center;
    width: 255px;
    margin-top: 0;
    margin-left: 0;
  }
  
  .inner-box__header{
    font-family: var(--font-Fraunces)   ;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    color: var(--text-color-type-blue);
  }
  
  .inner-box__desc{
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color-type-blue);
  }
  
  .inner-box__item::before{
    content: "";
    display: block;
    z-index: 1;
    width: 255px;
    height: 193px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .inner-box__item:nth-child(1)::before{
    background-image: url(../img/planalto-tab.png);
    
  }
  
  .inner-box__item:nth-child(2)::before{
    background-image: url(../img/planalto-tab.png);
    
  }
  
  .inner-box__item:nth-child(3)::before{
    background-image: url(../img/piccollo-tab.png);
    
  }
  
  .inner-box__item:nth-child(4)::before{
    background-image: url(../img/danche-tab.png);
    
  }
  
  
  
  /* ABOUT US PAGE */
  .about-hero{
    padding-bottom: 168px;
  }
  
  .about-hero__top{
    background-image:url(../img/about-hero-dasktop.png);
    background-repeat: no-repeat;
    padding:137px 480px 137px 85px;
    text-align: left;
    margin-bottom: 0;
    background-size: cover;
    border-radius: 10px;
  }
  
  .about-hero__title{
    font-family: var(--font-Fraunces);
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px; 
    color: var(--color-white);
    margin-bottom: 24px;
  }
  
  .about-hero__desc{
    margin: 0;
    color: var(--text-color-grey);
    opacity: 0.8;
    font-size: 16px;
    line-height: 26px;
  }
  
  
  /* COMMITMENT SECTION */
  .commitment{
    padding-bottom: 244px;
  }
  
  .commitment__content{
    display: flex;
    margin-left: 85px;
  }
  
  .commitment__info{
    width: 540px;
    margin-left: 125px;
    text-align: left;
    margin-top: 90px;
  }
  
  .about-hero__picture{
    margin-bottom: 0;
    width: 445px;
    height: 520px;
  }
  
  .commitment__header{
    margin: 0;
    color: var(--text-color-type-blue);
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    font-family: var(--font-Fraunces);
    margin-bottom: 32px;
  }
  
  .commitment__desc{
    margin: 0;
    color: var(--text-color-type-blue);
    opacity: 0.8;
    font-size: 16px;
    line-height: 26px;
  }
  
  
  /*ABOUT FEATURES */
  .about-features{
    padding-bottom: 168px;
  }
  
  .about-features__content::before{
    content: "";
    position: absolute;
    background-image: url(../img/about-features-desktop.png);
    width: 445px;
    height: 474px;
    background-repeat: no-repeat;
    border-radius: 10px;
    top: -12%;
    left: 60%;
    background-size: contain;
  }
  
  .about-features__content{
    background-color: var(--color-bg-features);
    padding: 100px 518px 176px 85px;
    text-align: left;
    border-radius: 10px;
    position: relative;
  }
  
  .about-features__title{
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-white);
    margin-bottom: 24px;
    font-family: var(--font-Fraunces);
  }
  
  .about-features__desc{
    margin: 0;
    opacity: 0.8;
    color: var(--text-color-grey);
    font-size: 16px;
line-height: 26px;
  }
  
  
  /*  Headquarts Section  */
  .headquarts{
    padding-bottom: 168px;
  }
  
  .headquarts__title{
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 72px;
    color: var(--color-grey-text);
    font-family: var(--font-Fraunces);
    text-align:left;
  }
  
  .headquarts-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  .headquarts-content__item{
    text-align: left;
    width: 222px;
  }
  
  .headquarts-content__item::before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 48px;
    background-repeat: no-repeat;
  }
  
  .headquarts-content__item:nth-child(1)::before{
    background-image: url(/img/ukingdom-mobile.svg);
  }
  
  .headquarts-content__item:nth-child(2)::before{
    background-image: url(/img/canada-mobile.svg);
  }
  
  .headquarts-content__item:nth-child(3)::before{
    background-image: url(/img/australia-mobile.svg);
  }
  
  .headquarts-content__item~.headquarts-content__item{
    margin-top: 0px;
    margin-left: 95px;
  }
  
  .headquarts-content__header{
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    font-family: var(--font-Fraunces);
    color: var(--text-color-type-blue);
    margin-bottom: 22px;
  }
  
  .headquarts-content__address{
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    color: var(--text-color-type-blue);
  }
  
  .headquarts-content__tell{
    text-decoration: none;
    color: var(--text-color-type-blue);   
  }
  
  
  /* SITE FOOTER */
  .site-footer{
    padding-bottom: 72px;
  }
  
  .site-footer__inner{
    background-color: var(--color-bg-features);
    padding: 47px 85px 47px 85px;
    display: flex;
    align-items: center;
  }
  
  .site-footer__logo{
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: left;
    transition: 0.3s ease;
  }

  .site-footer__logo:hover{
  opacity: 0.7;
  }

  .site-footer__logo:active{
    opacity: 0.3;
    }

  .site-header__icon{
    margin-bottom: 0;
  }
  
  .site-footer__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom:0;
    display: flex;
    margin-left:auto;
    margin-right: auto;
  }
  
  .site-footer__item{
    white-space: nowrap;
  }
  
  .site-footer__item~.site-footer__item{
    margin-top: 0px;
    margin-left: 33px;
  }
  
  .site-footer__link{
    letter-spacing: 0.923077px;
    color: var(--color-grey-text);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease;
  }

  .site-footer__link:hover{
    color: var(--color-white);
  }

  .site-footer__link:active{
    opacity: 0.3;
    }

  
  .socials__links{
    text-decoration: none;
  }

  .socials{
    margin-left: auto;
  }
  
  .socials__links~.socials__links{
    margin-left: 24px;
  }
  
  .socials__icons{
    color: var(--color-white);
  }
  
  .socials__icons:hover{
    color: var(--color-pink);
  }
  
  .socials__icons:active{
    opacity: 0.5;
  }
}


@media only screen and (min-width:1300px){
  .collection__title{
    font-size: 150px;
  }
  
  .inner-box__list{
    margin-left: auto;
    margin-right: auto;
  }
}







